<div class="sidebar">

<div class="logo">
🚀 ROJGAAR
</div>
<a href="/employer_profile">Profile</a>

<ul class="sidebar-menu">

<li>
<a href="/employer_dashboard">
<span>🏠</span>
Dashboard
</a>
</li>

<li>
<a href="/post_job">
<span>📢</span>
Post Jobs
</a>
</li>

<li>
<a href="/find_workers">
<span>👷</span>
Find Workers
</a>
</li>

<li>
<a href="/messages">
<span>💬</span>
Messages
<span class="badge">3</span>
</a>
</li>
<li>
<a href="/employer_profile">Profile</a>
</li>



</ul>

<div class="sidebar-footer">

<a href="/logout" class="logout-btn">
🚪 Logout
</a>

</div>

</div>
